<% layout('layout2') %>

<div id="wrapper">

    <% include ../partials/sidebar%>



    <div id="page-content-wrapper">
        <% include ../partials/navbar%>
        <div class="container-fluid main_body">
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
            <div class="ul_links">
                <ul>
                    <li><a href="/home">Home</a></li> |
                    <li><a href="/companies">All Companies</a></li> |
                </ul>
            </div>
            <div class="bodyDiv">
                <h4>Leaderboard</h4>
                <% for(var i=0;i<data.length;i++ ){ %>
                   

                    <div class="col-xs-12 col-md-6 col-lg-4 companyListDiv">
                        <a href="/company-profile/<%=data[i]._id%>">
                           <img src="/uploads/<%=data[i].image%>" class="companyListItemLogo">
                            <div class="companyListItemInfo">
                                <h5><%=data[i].name%></h5>
                                <span >
                                    <%=data[i].ratingSum%> Total Stars
                                 
                                </span><br>
                               <h5>#<%=i+1%></h5>
                            </div>
                        </a>
                    </div>
                <%}
                %>
               
            </div>
        </div>
    </div>
</div>